FORMAT: 1A
HOST: http://www.google.com

# Login
JSON contracts between back and front end for login functionality

# Group LoginValidate

Login first step with nickname input

Form parameters:
<ul>
    <li>username</li>
    <li>rememberMe</li>
</ul>
    
_eventId:
<ul>
    <li>Submit: validateUser</li>
    <li>Forgot username: rememberUser</li>
</ul>

## Username validation [/pages/login/validate.json]
### Valid [GET]
+ Response 200 (application/json)

        {
            "alerts": null
        }

## Username validation with errors [/pages/login/validate.json?mockId=2]
### Error [GET]
+ Response 200 (application/json)

        {
            "alerts": [
                {
                    "type": "ERROR",
                    "alert": [
                        {
                            "text": "Error message 1",
                            "field": ""
                        }
                    ]
                }
            ]
        }
        

# Group LoginChallenge

Login second step (optional, just if device is not recognized) with security answer input

Form parameters:
<ul>
    <li>securityAnswer</li>
    <li>rememberDevice</li>
</ul>
    
_eventId: validateQuestion

## First access [/pages/login/challenge.json]
### Challenge [GET]
+ Response 200 (application/json)

        {
            "alerts": null,
            "pageContent": {
                "securityQuestion": "What was the name of your first pet?"
            }
        }

## Security answer error [/pages/login/challenge.json?mockId=2]
### Challenge [GET]
+ Response 200 (application/json)

        {
            "alerts": [
                {
                    "type": "ERROR",
                    "alert": [
                        {
                            "text": "Wrong answer. Verify it and try again.",
                            "field": ""
                        }
                    ]
                }
            ],
            "pageContent": {
                "securityQuestion": "What was the name of your first pet?"
            }
        }

# Group LoginPassword

Login third step with password input

Form parameters:
<ul>
    <li>password</li>
</ul>
    
_eventId:
<ul>
    <li>Submit: validatePassword</li>
    <li>Forgot password: rememberPassword</li>
</ul>

## First acces [/pages/login/password.json]
### Password [GET]
+ Response 200 (application/json)

        {
            "alerts": null,
            "pageContent": {
                "securityPhrase": "ILTEAM1 420618818Z phrase",
                "securityImage": {
                    "data": "/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAEBAQEBAQEBAQEBAQECAgMCAgICAgQDAwIDBQQFBQUEBAQFBgcGBQUHBgQEBgkGBwgICAgIBQYJCgkICgcICAj/2wBDAQEBAQICAgQCAgQIBQQFCAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAj/wAARCABkAGQDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwDyLU/huRveJZxKTuww3Dd0H0FcReeB7yEyEwNOAVJZW5H+zgDOM8D6VY8N/wDBQ79i/wAY2d9f2+v/AB58Pw2rIbiPV/hhdrJGroXVgLW4uAwIViMHPy9ORnlbv/goZ+xGl7Bbah8RPiJpkTyKhvLj4d60sMJLsuWAgaTbhUb5VZsPjbkEV/vPhvHTh54eGJli4KnO/K5PlTs7O3NbZpp9mrM/gCfAWLlVlRpUp88d0ottXSeqs7XVmu62ILnwn5cmTE0TqcEjOWB5/wAK5K68LK+6SIjIwSRkkccZr6o8CeOfhL8adGj8Q/CTWvF/jzwz91dWh8CeI7Kwd+cxrcXmnwRyOMcqjNjPOK5zxQfAmj3d3Z6x4ig0LU4VDPDeabfwSICDtYIbfkNhtrLkNtODwa+6y7j/ACzFUlWo1oyg9E1JNaHh4jhnE0pcvI+ZdLNP7v8AM+T7rw5gKzxuDGrFWz1GM/hkisK88KB3kUHz0yd8frjnJ56V75feIvheLi3tIfiBoM9zczx2kEIsdS3zzOcJGii1JZjhunoSeAa891bxv8IrVktte+I3hHwvK5bbb67Hd6VLIyMcgRXkELHG084xx3FeguMMucuX28U/8S+fXzOWOVYhJp0m9uj/ABa01t2eiejseHXngO1ZVZIJFIyx8sEB+McAnAxXM3fgu02ysFntyq4ClCRnr169eT/SvoZvGnwl1C8trHS/i18LdW1W4yILW21uGWabAydka5Y8DJIHAGT0NcRL4/8Ag3PJ5Ft8XfhhLcsSVjXVl3HnGVG3BGe4PNbS4pwcLOdeCT296Pltr5owq8JRnfkpefwv0T0seA6j4RubfeTCZYlwSygnHTv264xXIT6OEaRdkilchuehHb9a+l7bxD8O9dN9N4b8eeC/EKWpY3MmnXL3a2xx829olKg9cjJI7gVxuoax8LZUkuZPH3gcwopUsbiX5QM55CE5BGcdfzqnxDlsoKc69NRfXnjbTfr069mfOYrhLF05WpJ37NPrt0v+f+XhjaOwLDZIpyQc9qqnSSC20NjGPpXpeuap8OvDepWml+IPHNloeoT2cepJb3WmaksstpJu2zIotiWUlHwOuRtIBq1Z2mi6t4bPjHSbfxhq/h0RzsLm10G7lE4ikeOR4U2LI6q0bA4X+FsZArkeaZTOUoQxEJSim2lOLaStdvW6S0u+l1e1zzo5RmqaUqMkns7Oz+e3p31tc8n/ALNcere4PWiquv8Axi+CmgXNrb6r4r8S6fLNAtxGs3hm9VnQkgNtHQEq3Xnv3or5qtxvw3TlyVMwoRa6OrTT+fvHrUuFM8muaGFnJd1FtfJo/TT4A/8ABLXwR+0FoA8Q6Zq3xO8AeGY9GuNOvfFU/wBi1fw18SpDeQG3t7PRYLi3vLCxt1t57gCS5F2PtyBpl8pYH+pPDf8AwRq+CHhLxH4X1C18b+LIdZg0m+l1W50jSYLO0lvDeR/ZpNPt7yW+mtXjjedN73EpOFfarYx/Qa3g2xtr3W7q1tIIbq+uvtl5IgKie4ESRGUrnAYpDECQBuK7jliWPIS6Hbz+MNU0qMu13a6FZXMuFJjRLi8vFjBIGN5+wyHGc7RnHOa/z4yfJMuw+Fhh8YlWlKejnZta3UYtrmSUVa122r8zk3Jv+s8VjMVOpKdJuKtql6Wu++rv2X2UlZHyNJ4Eu4tN0fT5p7m/SxsYLCAyNKwjijQKqoJZJWVeOFLsR/ePU/GX7YXws1Ox+F2sfGfw1pN3qfiTwLZSave2Vqo8zWfDiSLLqMC9zLbRCTUYcZO63uIwP9IOP2GuvCG7JELIT1H+BrCTw3eaZeWupWcVu15BIJoxKmUJU/ddTwyHlWU8FSQetfta4jUsF9UoNQ5UuS32Wvh07Lts1o9GfJxy5wrKrvrr533+8/n8/Zwk07xj8VfDs2iay+p6WfB3iLUrP7PdEFJ1m0aMSlFbAP2fUZQG5DLc5UkNmrv7ZfgxyPhQb+7lexuzrWlSwzN5hn2JZ3SIMnIwq3RG3GMc8Dn3j9l39lHxJ+z/APt0/tK/D3RPDcR+B+mfD8XnhTUpZyrWPh3WdZtbvR9PjySZp7abTdf0uXIAWHTIGXj73pv7cfw51tfA3w88TaPpXiLVLTR9f1CW9isLOe7WJZ9N8mKaeOBHKRB0KGZgFQTNkgMa7uG+PpYzCTqSXI3NXXbljFS+5p/8FO7eZZMvb8tk4taejV195+X/AOzF8OZofjHPFGfsyDRp7iYQ8GKITW8I3sucZa4I2qRkls5xXx9feIPEXxZ+I/ib9nPwl4A+Imu/E/TdU1fTLVpNViTStOgsbya3bU9SufNLw2sccdsxcwuS7rHEHd1U/sN+yX4Nup/jJ4/1q00HXpvCdr4IsIZbyeyuIrKa+PiFbhYI7h0EcszQxzuwUkhFU9DXtPw5/Zn8JfB7TPFyaBb3OpeK/Emqz674s8RXwD6j4jv5JpJV8+UcrawCUx29qpMcKgkbneSRu+rjMZjq0KWGqezhCcueWjdnCn8N07yurJ/CrNu9uV8rwOHw8JU50000rLW32nrZqyV7u2uult1+LH7U2peIf2f9M+BXwl8F+KNU0nQL/wAM6/ZTBLeF49QWK4sIpJZfPBaGR2ubuYTI4dWkZW3iTK+Ufsz/AAT8VeO9R0T4o+J9IntvhnbuuoabcX0Ahk8W3cchMH2W0yxXTonUTNcSEG4kVEjBTzGH7kfEn9mT4WfE7XfAXiH4l/DnQvHWp+Gmv30RdRMslrD9r8nzhPbBxFdLm1hdY5w6K4LBck11M/gXz5DLco80hCguVGDtxjgDAAAAAHAAAGBX0GHwFeeaVMRia3+yJw5KcW37sacI8subSK5k21H4rq8tZqXlVcHQlSgqcf3iTu2lu5N30s27cqV9mtFpG35A/tU/By08d/Bnxrrl1dS2fi7wro+r+I9I1GSTDKIrdp7q1lY5zFOkGSeqyxwsCPmzt/sx6TZXvwH+FXiTTbaG4s7tbzUraEoBuglu3kMbZz95nn3Ak/fI7V+qI+H9vDdw3iWsUjxOCUkiDJKn8aOvdWG5SvQqxHevKfhX+zR4P+Dvw/8ADnwv8ISeIp/COkvfHTU1GZJ5bWG4u5Ln7P5gC7o4zMUTdltoGSa9yGIhS4hlm9GyjVpcs/5nOEoum/Ncrmn192C10tawUpYFYWb1hK8e1pL3vneMbesj+frxh4C8P+AviB8Qvh34l+3eboWrvZ6fN5HmfatMkjjubOTiQbc29zBlTzkE98Ar9uvi/wD8E/v2ZPjz4msvGXxW+F9t4n8TW+nxaZHdx6pfWTG2jZyiuttNGsjL5jKHYFtoRc4RQCvx3EZLndGpKnhIYadJN8rqTqqfLf3VLloyXMlZNqTu1e+p1yyXDVHzyrVYN7xjFOKfWz9rHS+2i9D9wPGX7dlp4cvNZP8AwqbQvK04wT6wZPE05bTIp5o4ol+aCISzs9xCFgQs7DPA7cR4d/bj8FXHi3xL4w1j4aeLNG028TR9Bv5YtShu4LCDTJbyW7ljjBBDwjXY/NR28zzQkSoSDj+UPx5+1F4c+MlzpF540+JXjJ/ilqFnAx8Q2sqWej6fqN1JFpST2/hi0SdxKohtLg+TKHmjELJGqmUr1cvh2PQvAvhvU/G/wh8a2V5d+KfFWoPb6hpSWmo+H5DoHhe3iwFItriM3EViIYDsnmmuYsByd7f5v8QeM2MqYr2mEp+zpRk3BSvfZpXvKWtmm0paS12fKf09geDKCo2rO8mldr1T00X4rb7z+wG3/bH/AGYdV0/RtW0r4jWEul3V9Hp0st+r6ebGdoUndZhIjqpSOQDO7az4RWYsMdZ8K/jd8F/jToOmap4Y8deC7XVbiOCY6TL4hsZrqJZoUlj3eU+3JVyvOPmjcDIXJ/kH0r43+LLLT7nwVqnhv4q+H01LUbK5l0ifS7ZZNWvbuO4jtmvbNTK7QR/YZzHbQytbElJiquitH9k/sk/tA+ILXV9T07RtJn0vw+2p2drrWj6lpCara2v2O6t7df3lvcJIJWS3mfdLKhRJG8vB2Rj0st+kJiKVelPHR/dJPn5Ur36OKcldbN6q132V8a3AlOcXGk/eurX/AFsvyR/T5feGLdBHdSQx+W8YjSfyx+8j3s4VZBncoZ3YAHALMcZJrmZtKit5FuLWe7tpQcq8MjKy/RgQe9fjrp37ZHivwxosXgz4eyaj4Z+Jd7YW9xbv4n8DaoILFPOltWnu4NLuLaGRn8uMLax3MuxpoiW80SQj6ig/bCvZtR8GaWfGuj2tzceV/o+rz6S/2qKSEyJyyC5k+YIiq+HjEyGUuQ2P2PJ/HbJ8RVjh4V1CUle01KPrrZw9Zc3LrpJnl1vDjFRp+1UOaPeNm/uT5vTS59f6zpZuyj39/e3jAYQ3Uzybc9cbicDnt6V5zqPheyYNhFD89uCa+fPGf7SHiO10+/1S/wBX+IuhaTaXc2nahJ4f+H15eR2lwFMn72WxtZCItpU78qm0HBbhT4rZ/t3/AAs1+DTFj/aB+HrpO6wfaF0e4SZ3aNmUuotiUVjGQH2AFnRTy2K/UcF4k4KHufXKKa6e1jp/XkfHY3h2VN2nSkr7XVr/ANfI+sNS8IWm0gKVHOeMZrj7vwrAhZQVBzkdiMdRzXjugftN+EvF2l22raJ8WfCHiLSZmPl3OnW6XZCqWV9ypFliGQqR2IbOBWPqvx6tDJdxwfEjwtbxwLvZmuLWzcFiAocSYKkkjC4J579a+7wfFWIqJOnJOPe+nbR2seNWySna9j1ufw1AxJbylYDqR3/zis5/CsSYkMYxwAXVv1H9a+er742Xzvsg8WyvPIwSFI9dtwXPIPy7wcHaQDjn61xkXxw+x6obSw8W6Te3LybFSHXiz3DHqgzMpDDB+/gkjocivSWe4i3xL+v6/rU5v7KitkfVp8PRnA2KAOODn9aK+aof2nrm1hiSaTw5cOVDFr7xJpcMh47LJlyOvLHOc0Vl/b2L6L8V/maLKIPW5/OZJ8Nfh74G+ML/AAb+3/s3L4k0XTLe1upvD8+p2up6glv5StdrqshjgtJZ/tDs8CTeWFiuPMnXakiaun/Dp/i38CP2fNC0n+yNHv8ATviL4+tNN0F7C9u7Oztf7G8CCFJWYo1vI91NaRefc+Wtws8ih1kSFJPePHfhmPxHo3gPxrq/jTSfB3xa0PwnczeAtWvr+5jvtU0SztRdQR6k2sG6DG2c29pLFsjdElZVVxJKY/pvwJ8Yv+CeP7KH7PH7JXwg/am/ZF8Y/tMeHviB4UufFPjj4h/D/wCM3iy10/SLzVbHTzqEV7pkF9aR67eyT6TZtdWyzQQ5sligkle3YL/kLhcfUrSpxpczqvS+7TSlzdvRLdO8bo/qzD4TmhOfMlZLS9m7tbenXU/KfQ0sNOPiPSJ/2evFmk3+t+GIYLv7HbXU32C9CxrLFf2889ul5NG726rHbzRyWiXG0Kvzq32P8Hvh38YfjN4w8VX/AMJfgPe6z4c8G3Uuk+L/ABK9wbXR4NYv1DPp1ppeo6jbx3mrX1xFB9ljjkzcfaVjihZmjav6X9Y/YN/Y48ffAnwD8RPgZ8Kv2dfDXgTUk0z4nfC+38d/Ej4hahqsE2rQ6VDcazcx6f4gfU7yK90zS9DltrSSC2NstvGZ2jZXA4Lwf+yN8EPh/wDsf/DSD4x+If2bPh94p+DPxWvvjTbXXw78Faj4t1L4leGrDRr2GC0uNIvZYdRtNTKX/mhb6W4ktrm1nKiOIKB588+wE5yjVrwhPazk73tq2m+i01afNpy3dz3YcFZrOmq1HDTnD+ZRk4/+BpW89L+7rex8Afs2fG6x+JXxk8Hfs6aT8Hf2qvjN+0vDfX+g2HhXS5PAt74cn1HTYtRk1Xw3qdl4v0OwudNs5LWDUJJrKK/ukykSrci4VnHoWjeAbT9t20vfgV8K/wBi7wleeKPCWvXMElt4Q8M+BvCM2dFitLK+nsPElu0lje2QS60+wmS3mlYyWkboqC382vqz9k79j7wV45+MHi/9qX4teDf2VPFH7RnxJ8Saj4z8R6b4cuvHerrYaP4j0i3e7g0HUbTS4ZNE1JLmSSZZ7eS7Mkd9fRNJ8sMkH3n8b/2mf2Ufg3O3i7XfgJ4a8VeJfh7p2iTfFbxvqmnafo1ta6peQW1otlrmp6toplgilNlpsKyA2ssuIoimVKt85PH1alSNLKKlBTUb3U3JRei5WoRm0k3a7lfXVtvX9Bx2R4DLoVHmmGxKg04x5qSV5W92acnFtS958qtays3dqH4jeD7X4k+J9M+KXhqz162+DviDw9ruo6NHdeMrSLS7vVNWgnNhJJperaHrDRXuiwSWs0aW7acLa6lEsc9xKwBjh8S/An9rrx54b8R6z4j8afCf9nzxNfWcj6Paaq+k6vbXt4luLZLuW3ns7y0S1vjCk7LZXUTWiOVMcrsob7Mt/wDgrJ/wSQj1Lxn4oH7DH/BOK/1aeZbvXNSN/aaooWeeGBp7w23huQQJJLLbq7jCmR1ZyT81fPPwN/ay/Y68QftPav4Wmvf+CYngz4daxHf+I7a1+F/jzXfhhq+i2RtxcCTUNO1oDwnqzsrWWcSWssq+bcxwKsToPqMJLFUabnUqR51d35ZNWXZckm+mii23t2Pz7M6mGr4qSwVOpGi2klN8r2XxybUdHez5klHV2Ply0+F37Q/h74e3/huw+Bn7O/x98ZTDU5r8w3R8OaxpNyEsXsLyC7R7KZoonvNRjVFSOKRIJG2O0EkTfA/xTb9oX4HXGuap8QPhL8fdJ+HlrPFO+p+MvAM19a6rA88iPcHUo72dV+UowMrRoGUjCnAT9aP+ChHxn+FXgb4eaT4p/YO/au+A9xaW0uqa140ttV/aQ+HFzaaRp9jZLera6bp2mo2oahqOost3ZwxRLcnzAAUCurJ/OL4q+Ovh7VPH+v8AjPxHr/iX4peIdaluY9S8T6v4GFlf2llchwsNpZXGpXkYiKh4kto4kWJgjJlkYt9DwxnOY1YOrTvyN3tyyi279pJcr6L3VJrboz5niPI6FKaoTipSj1U4TSX+ODkpeaTet9Vqemap468P2t3rEfhf4k/s4eLPDUmoW+lmCHW9Z06+8PahKs8hilu9XsIIkhIgaDzlma3iDlzI3Ua3ja18QeH/AIbaP408ZfB/xlb+E9av2i0y9stZsJLFZEgjugbW/gje0aYJKksib0mTcPlMisB9n/Cz4oeFPhz8TNZb4s+NrTXviTb2lrpUN/4R8Kvd65YRWlxb2d9ZSadpXlW1k4ms3h8sMgmkto5HBhE1fRPgn47at4kuLXwt8OL7SPhR45tvFWj6n8QNS8OeE9M8QQanNfXrWxsnnvZJJLa2xbwXUiIWkDW9vHujNwkkXdW8Z83w9VOk5SjeLvJytrbZ8trXstI7tJ8q1PHjwFldWP7xKL1VlH9Ob/25W87WPw6tPiNoj2qyySa8rPPcv5Z1O0mEebiX7skdtIHDff3ZGd+QCMMxX9Ell4T1bVFaezP7NMUCQ2kIn1Lw5eW8l4VtIQZEhstBvfLjH+rWOaXzU8vbt8sRMxXTQ+kNmc4KSmkn/eor8JQ5vv17mEvCjLE+vyU//lh+I/xJ8Q/Ffwvqnxj8Vat4aX/hOvDfjfXrm3lm1CTUbB7rGq2gjnaG/XTZr+C1dIAdPinmCxWbq5TNe9+OfEWp+G9U+H154tvfAd/v8OWHiKXw348s0uvBniqe11nUn0y5nVrN4pbK5S0trr+y2ZJLqOS2QSBBMzfN/wARv2ntTHjWO2k1/wCKF4sFunh+VoLmw+x6XqmnLbm2urWJNtmmoQTwyqlwlmhgiu5Ms8rNInsHj/45eIJdW+ANl4hTwZ400O/+HngW+vfDms+GLy509lltdP12SxvoodTgP9lyS3JKxQN5scMEMw+zBY1PzeDyydWvShOC1u1r093TXbq/s72TW59dXpxhF2tpb/h/v6duux/WZ+zl4b+N/wAdvC37FHxD1T9p/wAE/Bfw/wCOvh58M9Yi8H/D/wDZ78C2dpoOn6hp0S/2XZXup2+ozfY4AgtYR5KiJI1UAhQtfJnwb8ff8FS/G3xM8MaH8WvjF/wUl+HP7OjfCKz8V6xrej/DTw74G0y18UyaVqU02mSa7aaDaDZHcwaTDCAruXmZJBH5m1f2u/4JsfDfRfj7+xB+xr8bNE8J/Bz4ZeDdR+HGiL4b8Kw6brusv4S0aAyCwsF1G/1jNzJbRqqfaGgDFlJHy7QP0Ov/AIBeE9NgtPEet+NvEDy6RaTtFcSadokUenwnDSGJ5bOV4ySg+cybx0DjJz8JHh7POevVVaMIzcnFp2cU3dNrl3S/vb9ep+nPivInSw1OdGc5U1BTUkuWTiveUfe0UnprGyX2WvdP57Piv+y7+1R8ZPB3wi139nO5/wCChvx+8Eq3juLxh/Zn7S2sRyS6uNb0ddNikF94m0qErHZQ6z5f2fNupkwU3FSOs/Z8/wCCUv7aGt/CD4yeD/iF4fl+FF1rfxI1HWfDX/CwviFc+PL3TfDts9hJo0V3bXdzqtmLiF0vypSaTy2IfLMwK/0At4G+G7XWjeD9Y8W/ES81+5iM0VmvjLVlXyjGJCZIrGWGCOM7W2l1AbawXPIr+TP/AILPar8EdQ+Jv/BR74LQW2i2HxF8OfAXwFY/D7TWvrue8n166bxVq1z9gtpLlvNvpVi0xTIsEsjRoqF0+UM8TwZKeDSxNepVklBO09JNNauMlJJ31fxO9+55uL4kwuYV5YRYalSoVJVGlyWajK7UXUhKnJqO0dYpJLR2s/tv4y/8EcvDHjj9oDwh8Qdd+Nfg34GeE9J0/wAe3V9Y6Z46h1G2tdQ1lrCJnY6jp25P3UUh8uQyK0lkjnh3jrnPGH7FX7GnxE8afEv9nzSv+CoPw++IHx18ev4Y02bwZe2cHjwwr4e+watHZw+HbeaMQGWy0GR7ldiyzRzSyZVBGg/o/ufE3wc8CxDW7bxH8Lfh5p+p2/n211cXNjpomR0E/mfNsfOJNxzzg5PXJ/l58FXHxP0n/gqH4a/aU+OvxH+F1j4H8NftE/EXxnaSJ4y8O6pca14SvPDd94d0YaTbWepz6pPMbcaeXs3s08vypyGDII28yvwVk2B9iptS5Wl71Rx5YqTq3tGUU/fXM01q3dvSz6cNx3j6051Iv2TUZNcseZyk4uCXv871UrXvdWVrWTXyz/wU9/Ze/Zx/ZNj8Bav4r+MGhXB8Y6d5V94L1v4Va14O07WLjSLqzt7TU9KhsdMdbaWFPEGopeXd1eRoUu7bhuQ34r65+zb8EviZqem6l8PJf7Ukn0m70mTR/FelyWD3Us14LK8+x6pcRmaCQT7bba1usiLK8i9Wdv3T/wCDgP4xWPx0uPgp8YfDmn/FD4V+E/g54Y8URS6hr2jnS9R1fV9Yl0WQabJoeqWYM9k8NnCj3tvcBoTcSPKI4oGkb+f/AMNeMP8AhXPhr4X600viLRPCvhaXU4dT1uy0iF/tNrc+ItUvWMunQlUaV/sUvyglbZAxEkPmZPq4epTpUf8AhHn7l0lbVaQtZX5n0itHze9tqm/lczxWKxWLliMxfNVnq2/ib0V+i2WltNDE/ag+J1hZ/GjxXbeFNJ1m98WWNv4htHuLCWeKxvN+nW1za3QjWLyGSB9Q1J0ZIwQ1sJHKoimX6E+Cfxq8P3/ivQdN0OTSIIYrZ9ReCCyVLa4Nl9qUTTyXB+0MIZIdRmZm3HYoQsPMVT80+I/Bmo6X4o8TeEtfXS9Yht/GniLT/E9zrF3INM8rQhNbC5lncoEtZ5ZIYJpVby8WuzLM/lj6g8E6PoMfj7wN4ltfE914y1SKW+jhtdEtX0+00W0mEjPYRRQLLM7Q3Ed6BJuumhiZnklhOwLlmtbDrA06Su2oNJ33cdU/nK9rtdWr7HPRoS5277v+vuXU+6dZ8GWWsQaJPZeJZrOyS2eOGY6gX/tBDcTMLgFREdjb8IHXcI1QZIC0V514N1HUTY39h4g+Kes+GfE9lcLa6npmnRW8UWnXHkxt5P7+NpHwjx7XZixQpuO4MAV+TSnGD5XJfc/8j17X1UUfzdW3w9+Jf7ROveNPEvwe+Gk7WU1rfHRf7I0qe30i0srJltIIlvpsxxCOHyJHmvZ98jFmkkeWVN/19+1zff2D4v8AhveaVLPcav4J8OfC0B0lWW2ik1T4WeDhpcOxWyxgg0DXPOY7kk8pIm3CY5/oH/Yb/wCCfH7Zfwc/Zw8da74d/aL+CnxM/Z1+FniTUPiH4Y17W38Qadouo/Y43tZbK6WSwW+mleG3gRPJZUtylwqJcJcW8z4vw0/YI+Dv7Q3xC+A3gf43fBfwj8QNavtKtZvHWmeErd7Gwk0HQfDdjpsIi1R/I1KGRrq10GCwdJlm8ya8+0maKS7V/wB6/wBc5UsyUZxtCN1BxveS768r2VrW+LXmsrnmUcqjUw6qRqKTekotO8WrNPms4yi01az5k1NSgoqEqlD/AIJ3/wDBaD9ob4Jfs7/AP4QQ/DKXwJ+zl8K/hlH4ckgntI9T8RfEK/lsyrapZzG3lMENnfTRG3shbPvhd1ndmwqfsD8Uf+Con7TniLxl4y8MaB43+Cngnw7NdiC38LJ4QYakmm3CyQCJtTlubuK5v1LQT5+x28UROyVHUZP5Q23gn/gnr8IPGvjzwd+z78G4v2ZfFMHhmWfRtdg8Oa3rGlPGkFxHbXk8d1dmTV5kkvidkvnNuVsqyxIa4/Q7j4ifFC+tfiVqFlolsreFZNAlnsZLyJ5Z478CPUU8xEtllu7Z5lVGVjH8h3N5UZPwvEOf16lWboOUKcnpq0mtLWV9E7PZteS674bBRg/3iUpeibXe/nfy/wCB+0nw7/aA+O2oeHvB1h8TP2g/ilZfEy1sriPVL/wxqCCTVphO+ya7RbOSJlRHeNVMmzMY8tQciuT8cfEHxnptj4lt9Q+P37TFxPaRM7rdePNUkQEAP5sqNdQwSbVUMQzRxlc427SB8sfD/X9a07wlY634e8N+CrHw9ql6L6TUb/V5RdXkG5y0czyTYMaIJnEz4VVJbGGrxzw/+2BH4q+Ifh74S+FbWy8TfEWP+29U1iG68O3mjuNN0ayv57690aCWZLHV2WTT2cPZXsivCZZFVzshr46McbiVKFLnqKMXJpc0rRinJt9kkm7vsfVYTAUJpOcVd6Xe1/n+eiW56fJ8OLr4t6la2sPhXVvit4f1KC6gv9M+H/j5m0u+SVyZJNe0W9e8uPtKrOAEinaMMIvlDouP5zP21fgR+wF8FvGOpeEofin8S/CPxCgkdfEXgKPwVofiOPwkGaOeQSXbXFvdQjEjyeQsksjHduEeFVv17/bF/Zf/AGMf2svD/iC4+KPwp8PeEvjXOtnb6b8UNF0E6dq9pdz+Wtvc3tq7wWuvwGfZBKZvMkSNgiXC4Qj+ZX4tfs7eIPhRe6/oHg/xz8H/AI0eG9Pu5rb7Z4G1+1uZYGSQxs1/oTSJqOnBW2RlpIWj8xggkORn7rw1wuHqV2vrcqclvT5Uk3096TlB9dHFTve2l78meU+WF3RTj0ktfwSTX3terOTGsp8HhrvibwT4X0bwJ4wspLttXh0vxBPaJcRJKQLa8sre7cLGytFFJZySEhpXX5gcJ+gK33xx8S+DvBHw18IPPHHZwa1BpGmW0USWt9rlvrEVjb3NxJLFmFVGoatIZfPdo9xbKNIFk/MvxMmj+HvDutXvgrxPrFnp11odv50V3HBDdWn2iMxXNp5kJEMyneDkKpMdzGGRW5r6t1T9oLx3p/8AwtLS9Av9Z1Hwh/bOoXdxZRXEt1pojn8RxYsL1XzbxJKDeCO4Ueb5sCugEnzn9cz/ACqpWjSlRjGUr7yv6Wd9rc2mundHw2HqRTanJq/b+tP63Ot8Z+JdW8f678VNd0rUNuteI72+jHh9bu3hMx1e1lktoxaRkB4p768sIZ/OP7yaFAXIMhr6b+EviltJ+I+gQ+PbSF9Cs9KttTtr7USfscUdvps9rLbWb+cgWKS4NsHgjQjc77ixfC+Mat4lsPG37QGqeHL/AFPxJ4l8Vw+M9V0GzmsLezS4l+0XdxYwEhTEkkiQRv5kssEheK1gcbWAI9Au9C8UjVfBXiGbwLoN58OLzVbvTYdE02PzXXSRDPqOpNeySSw+VDbtaTXBnVY44cMcM23b8HmfI6UcPVtBuL6pWur6N2bfut6pJpO9ra+vClP4km/+A169/wCtDovEnh/4p2vi3xpZfD+x8T65ocOs3oafR7p7CMyNM0hEsLeURKFkTdlFK8Kw3KxJV34i+KtZ8IeN9d0DTo/iv40WFLLz5UurqNrWc2cHmRyFGlV2ZszghsBZ1UcICSuPCSxEqUZQhFppata/+lL8jklRV2L+wv8AtHfGaG88H+BD41u4fBXirStetNd0bT4ItK02/tfD/wDZV7pMElhYLBbP5E1kAJnjacx3F1EZTHcSI37T6vHD8KP2OfGXxP8AAtvaaN48+Nuv6f4R8WaoIEe5stMt7DToo4rGUjepA1zVG3TmYhpxjAjiCFFTn1GFPNKsaaSUVK1tLe+9ux0ZZu10PxMvfiZ4/wDiX+yn8Ete8U+Kr688V6lDpv23VniiluJBcb0IRZUeKIJDKYEEaLiNEzllD193aB4rvvht4a+Ld/4cghkufB11Hc6W15NPcCdwkcR+0hpMSk+cZC3D70T5gAVJRXncU0YQtCCSXPUVltZTikvktPQ0wrb1fkL48/aF+JWhaNd3VnqYnvV8VWWgRT3Us9w0UEsVw5kHmSMGkUxYXcGTDuCpzx8Bp4rt9Pjh+OY8CfCyT4h3eqaDZ6pPD4Zs7O31mRg2nT3d1bWscUTXU8cRmkmVVb7RNcTJseeUuUV5GRzdPD1HTdnK0XbS8W0nF9002mno07M9epUlLWTvbbyPGfi54r8WWutaV4S8N+KvEXg3wlqYGnanpmm3bi2v7cwQZjkWUv8AIPKiKxghEMalFXnPwx4++K3jH4m3V3ceNryDxBPb3s0cD3SGZ7cL+7HlM5YxfLDDxGVGUU4zRRX7jwnhaXsYVOVc3K3eyvd6N39DwMZJ8zV+v+X+bOq0Xx/4m8MeFtT07SLu2W2SM6mEuLeO4iecxRwBpIJQ0U21FUL5iNjHuc+vfFtJ/GHj+01rUruW11eZhbfaLWOONrXYBOJLQbSLN968G2EQUM20LnNFFd0sPTWNjJRV/f6f4Tj3ptPs/wAj3vwd8LvDGu/tYfH/AMPTSazptjc+GNe8ULJp949pNbXC+IZmEMcsW1jB+5UFXLFgW3M24mux+Mmo6/oHiS613/hJ9f8AEFnpLa5rOnaRrMw1DTrSZtOEEipBOGwjx3LBud2VVwyuWZiivzyulUxcY1NUqKeuu+j+9aPy0Pcpq1rd/wDI9N8X+Po77WZZNT8FeDtXljBgje9W5uGiiRmVI0MkxKoqgAKMAfUkkoor85y+pL2Mdehnj3aq0v60P//Z",
                    "height": 100,
                    "width": 100
                }
            }
        }

## Wrong password [/pages/login/password.json?mockId=2]
### Password [GET]
+ Response 200 (application/json)

        {
            "alerts": [
                {
                    "type": "ERROR",
                    "alert": [
                        {
                            "text": "Wrong password. Verify it and try again.",
                            "field": ""
                        }
                    ]
                }
            ],
            "pageContent": {
                "securityPhrase": "ILTEAM1 420618818Z phrase",
                "securityImage": {
                    "data": "/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAEBAQEBAQEBAQEBAQECAgMCAgICAgQDAwIDBQQFBQUEBAQFBgcGBQUHBgQEBgkGBwgICAgIBQYJCgkICgcICAj/2wBDAQEBAQICAgQCAgQIBQQFCAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAj/wAARCABkAGQDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwDyLU/huRveJZxKTuww3Dd0H0FcReeB7yEyEwNOAVJZW5H+zgDOM8D6VY8N/wDBQ79i/wAY2d9f2+v/AB58Pw2rIbiPV/hhdrJGroXVgLW4uAwIViMHPy9ORnlbv/goZ+xGl7Bbah8RPiJpkTyKhvLj4d60sMJLsuWAgaTbhUb5VZsPjbkEV/vPhvHTh54eGJli4KnO/K5PlTs7O3NbZpp9mrM/gCfAWLlVlRpUp88d0ottXSeqs7XVmu62ILnwn5cmTE0TqcEjOWB5/wAK5K68LK+6SIjIwSRkkccZr6o8CeOfhL8adGj8Q/CTWvF/jzwz91dWh8CeI7Kwd+cxrcXmnwRyOMcqjNjPOK5zxQfAmj3d3Z6x4ig0LU4VDPDeabfwSICDtYIbfkNhtrLkNtODwa+6y7j/ACzFUlWo1oyg9E1JNaHh4jhnE0pcvI+ZdLNP7v8AM+T7rw5gKzxuDGrFWz1GM/hkisK88KB3kUHz0yd8frjnJ56V75feIvheLi3tIfiBoM9zczx2kEIsdS3zzOcJGii1JZjhunoSeAa891bxv8IrVktte+I3hHwvK5bbb67Hd6VLIyMcgRXkELHG084xx3FeguMMucuX28U/8S+fXzOWOVYhJp0m9uj/ABa01t2eiejseHXngO1ZVZIJFIyx8sEB+McAnAxXM3fgu02ysFntyq4ClCRnr169eT/SvoZvGnwl1C8trHS/i18LdW1W4yILW21uGWabAydka5Y8DJIHAGT0NcRL4/8Ag3PJ5Ft8XfhhLcsSVjXVl3HnGVG3BGe4PNbS4pwcLOdeCT296Pltr5owq8JRnfkpefwv0T0seA6j4RubfeTCZYlwSygnHTv264xXIT6OEaRdkilchuehHb9a+l7bxD8O9dN9N4b8eeC/EKWpY3MmnXL3a2xx829olKg9cjJI7gVxuoax8LZUkuZPH3gcwopUsbiX5QM55CE5BGcdfzqnxDlsoKc69NRfXnjbTfr069mfOYrhLF05WpJ37NPrt0v+f+XhjaOwLDZIpyQc9qqnSSC20NjGPpXpeuap8OvDepWml+IPHNloeoT2cepJb3WmaksstpJu2zIotiWUlHwOuRtIBq1Z2mi6t4bPjHSbfxhq/h0RzsLm10G7lE4ikeOR4U2LI6q0bA4X+FsZArkeaZTOUoQxEJSim2lOLaStdvW6S0u+l1e1zzo5RmqaUqMkns7Oz+e3p31tc8n/ALNcere4PWiquv8Axi+CmgXNrb6r4r8S6fLNAtxGs3hm9VnQkgNtHQEq3Xnv3or5qtxvw3TlyVMwoRa6OrTT+fvHrUuFM8muaGFnJd1FtfJo/TT4A/8ABLXwR+0FoA8Q6Zq3xO8AeGY9GuNOvfFU/wBi1fw18SpDeQG3t7PRYLi3vLCxt1t57gCS5F2PtyBpl8pYH+pPDf8AwRq+CHhLxH4X1C18b+LIdZg0m+l1W50jSYLO0lvDeR/ZpNPt7yW+mtXjjedN73EpOFfarYx/Qa3g2xtr3W7q1tIIbq+uvtl5IgKie4ESRGUrnAYpDECQBuK7jliWPIS6Hbz+MNU0qMu13a6FZXMuFJjRLi8vFjBIGN5+wyHGc7RnHOa/z4yfJMuw+Fhh8YlWlKejnZta3UYtrmSUVa122r8zk3Jv+s8VjMVOpKdJuKtql6Wu++rv2X2UlZHyNJ4Eu4tN0fT5p7m/SxsYLCAyNKwjijQKqoJZJWVeOFLsR/ePU/GX7YXws1Ox+F2sfGfw1pN3qfiTwLZSave2Vqo8zWfDiSLLqMC9zLbRCTUYcZO63uIwP9IOP2GuvCG7JELIT1H+BrCTw3eaZeWupWcVu15BIJoxKmUJU/ddTwyHlWU8FSQetfta4jUsF9UoNQ5UuS32Wvh07Lts1o9GfJxy5wrKrvrr533+8/n8/Zwk07xj8VfDs2iay+p6WfB3iLUrP7PdEFJ1m0aMSlFbAP2fUZQG5DLc5UkNmrv7ZfgxyPhQb+7lexuzrWlSwzN5hn2JZ3SIMnIwq3RG3GMc8Dn3j9l39lHxJ+z/APt0/tK/D3RPDcR+B+mfD8XnhTUpZyrWPh3WdZtbvR9PjySZp7abTdf0uXIAWHTIGXj73pv7cfw51tfA3w88TaPpXiLVLTR9f1CW9isLOe7WJZ9N8mKaeOBHKRB0KGZgFQTNkgMa7uG+PpYzCTqSXI3NXXbljFS+5p/8FO7eZZMvb8tk4taejV195+X/AOzF8OZofjHPFGfsyDRp7iYQ8GKITW8I3sucZa4I2qRkls5xXx9feIPEXxZ+I/ib9nPwl4A+Imu/E/TdU1fTLVpNViTStOgsbya3bU9SufNLw2sccdsxcwuS7rHEHd1U/sN+yX4Nup/jJ4/1q00HXpvCdr4IsIZbyeyuIrKa+PiFbhYI7h0EcszQxzuwUkhFU9DXtPw5/Zn8JfB7TPFyaBb3OpeK/Emqz674s8RXwD6j4jv5JpJV8+UcrawCUx29qpMcKgkbneSRu+rjMZjq0KWGqezhCcueWjdnCn8N07yurJ/CrNu9uV8rwOHw8JU50000rLW32nrZqyV7u2uult1+LH7U2peIf2f9M+BXwl8F+KNU0nQL/wAM6/ZTBLeF49QWK4sIpJZfPBaGR2ubuYTI4dWkZW3iTK+Ufsz/AAT8VeO9R0T4o+J9IntvhnbuuoabcX0Ahk8W3cchMH2W0yxXTonUTNcSEG4kVEjBTzGH7kfEn9mT4WfE7XfAXiH4l/DnQvHWp+Gmv30RdRMslrD9r8nzhPbBxFdLm1hdY5w6K4LBck11M/gXz5DLco80hCguVGDtxjgDAAAAAHAAAGBX0GHwFeeaVMRia3+yJw5KcW37sacI8subSK5k21H4rq8tZqXlVcHQlSgqcf3iTu2lu5N30s27cqV9mtFpG35A/tU/By08d/Bnxrrl1dS2fi7wro+r+I9I1GSTDKIrdp7q1lY5zFOkGSeqyxwsCPmzt/sx6TZXvwH+FXiTTbaG4s7tbzUraEoBuglu3kMbZz95nn3Ak/fI7V+qI+H9vDdw3iWsUjxOCUkiDJKn8aOvdWG5SvQqxHevKfhX+zR4P+Dvw/8ADnwv8ISeIp/COkvfHTU1GZJ5bWG4u5Ln7P5gC7o4zMUTdltoGSa9yGIhS4hlm9GyjVpcs/5nOEoum/Ncrmn192C10tawUpYFYWb1hK8e1pL3vneMbesj+frxh4C8P+AviB8Qvh34l+3eboWrvZ6fN5HmfatMkjjubOTiQbc29zBlTzkE98Ar9uvi/wD8E/v2ZPjz4msvGXxW+F9t4n8TW+nxaZHdx6pfWTG2jZyiuttNGsjL5jKHYFtoRc4RQCvx3EZLndGpKnhIYadJN8rqTqqfLf3VLloyXMlZNqTu1e+p1yyXDVHzyrVYN7xjFOKfWz9rHS+2i9D9wPGX7dlp4cvNZP8AwqbQvK04wT6wZPE05bTIp5o4ol+aCISzs9xCFgQs7DPA7cR4d/bj8FXHi3xL4w1j4aeLNG028TR9Bv5YtShu4LCDTJbyW7ljjBBDwjXY/NR28zzQkSoSDj+UPx5+1F4c+MlzpF540+JXjJ/ilqFnAx8Q2sqWej6fqN1JFpST2/hi0SdxKohtLg+TKHmjELJGqmUr1cvh2PQvAvhvU/G/wh8a2V5d+KfFWoPb6hpSWmo+H5DoHhe3iwFItriM3EViIYDsnmmuYsByd7f5v8QeM2MqYr2mEp+zpRk3BSvfZpXvKWtmm0paS12fKf09geDKCo2rO8mldr1T00X4rb7z+wG3/bH/AGYdV0/RtW0r4jWEul3V9Hp0st+r6ebGdoUndZhIjqpSOQDO7az4RWYsMdZ8K/jd8F/jToOmap4Y8deC7XVbiOCY6TL4hsZrqJZoUlj3eU+3JVyvOPmjcDIXJ/kH0r43+LLLT7nwVqnhv4q+H01LUbK5l0ifS7ZZNWvbuO4jtmvbNTK7QR/YZzHbQytbElJiquitH9k/sk/tA+ILXV9T07RtJn0vw+2p2drrWj6lpCara2v2O6t7df3lvcJIJWS3mfdLKhRJG8vB2Rj0st+kJiKVelPHR/dJPn5Ur36OKcldbN6q132V8a3AlOcXGk/eurX/AFsvyR/T5feGLdBHdSQx+W8YjSfyx+8j3s4VZBncoZ3YAHALMcZJrmZtKit5FuLWe7tpQcq8MjKy/RgQe9fjrp37ZHivwxosXgz4eyaj4Z+Jd7YW9xbv4n8DaoILFPOltWnu4NLuLaGRn8uMLax3MuxpoiW80SQj6ig/bCvZtR8GaWfGuj2tzceV/o+rz6S/2qKSEyJyyC5k+YIiq+HjEyGUuQ2P2PJ/HbJ8RVjh4V1CUle01KPrrZw9Zc3LrpJnl1vDjFRp+1UOaPeNm/uT5vTS59f6zpZuyj39/e3jAYQ3Uzybc9cbicDnt6V5zqPheyYNhFD89uCa+fPGf7SHiO10+/1S/wBX+IuhaTaXc2nahJ4f+H15eR2lwFMn72WxtZCItpU78qm0HBbhT4rZ/t3/AAs1+DTFj/aB+HrpO6wfaF0e4SZ3aNmUuotiUVjGQH2AFnRTy2K/UcF4k4KHufXKKa6e1jp/XkfHY3h2VN2nSkr7XVr/ANfI+sNS8IWm0gKVHOeMZrj7vwrAhZQVBzkdiMdRzXjugftN+EvF2l22raJ8WfCHiLSZmPl3OnW6XZCqWV9ypFliGQqR2IbOBWPqvx6tDJdxwfEjwtbxwLvZmuLWzcFiAocSYKkkjC4J579a+7wfFWIqJOnJOPe+nbR2seNWySna9j1ufw1AxJbylYDqR3/zis5/CsSYkMYxwAXVv1H9a+er742Xzvsg8WyvPIwSFI9dtwXPIPy7wcHaQDjn61xkXxw+x6obSw8W6Te3LybFSHXiz3DHqgzMpDDB+/gkjocivSWe4i3xL+v6/rU5v7KitkfVp8PRnA2KAOODn9aK+aof2nrm1hiSaTw5cOVDFr7xJpcMh47LJlyOvLHOc0Vl/b2L6L8V/maLKIPW5/OZJ8Nfh74G+ML/AAb+3/s3L4k0XTLe1upvD8+p2up6glv5StdrqshjgtJZ/tDs8CTeWFiuPMnXakiaun/Dp/i38CP2fNC0n+yNHv8ATviL4+tNN0F7C9u7Oztf7G8CCFJWYo1vI91NaRefc+Wtws8ih1kSFJPePHfhmPxHo3gPxrq/jTSfB3xa0PwnczeAtWvr+5jvtU0SztRdQR6k2sG6DG2c29pLFsjdElZVVxJKY/pvwJ8Yv+CeP7KH7PH7JXwg/am/ZF8Y/tMeHviB4UufFPjj4h/D/wCM3iy10/SLzVbHTzqEV7pkF9aR67eyT6TZtdWyzQQ5sligkle3YL/kLhcfUrSpxpczqvS+7TSlzdvRLdO8bo/qzD4TmhOfMlZLS9m7tbenXU/KfQ0sNOPiPSJ/2evFmk3+t+GIYLv7HbXU32C9CxrLFf2889ul5NG726rHbzRyWiXG0Kvzq32P8Hvh38YfjN4w8VX/AMJfgPe6z4c8G3Uuk+L/ABK9wbXR4NYv1DPp1ppeo6jbx3mrX1xFB9ljjkzcfaVjihZmjav6X9Y/YN/Y48ffAnwD8RPgZ8Kv2dfDXgTUk0z4nfC+38d/Ej4hahqsE2rQ6VDcazcx6f4gfU7yK90zS9DltrSSC2NstvGZ2jZXA4Lwf+yN8EPh/wDsf/DSD4x+If2bPh94p+DPxWvvjTbXXw78Faj4t1L4leGrDRr2GC0uNIvZYdRtNTKX/mhb6W4ktrm1nKiOIKB588+wE5yjVrwhPazk73tq2m+i01afNpy3dz3YcFZrOmq1HDTnD+ZRk4/+BpW89L+7rex8Afs2fG6x+JXxk8Hfs6aT8Hf2qvjN+0vDfX+g2HhXS5PAt74cn1HTYtRk1Xw3qdl4v0OwudNs5LWDUJJrKK/ukykSrci4VnHoWjeAbT9t20vfgV8K/wBi7wleeKPCWvXMElt4Q8M+BvCM2dFitLK+nsPElu0lje2QS60+wmS3mlYyWkboqC382vqz9k79j7wV45+MHi/9qX4teDf2VPFH7RnxJ8Saj4z8R6b4cuvHerrYaP4j0i3e7g0HUbTS4ZNE1JLmSSZZ7eS7Mkd9fRNJ8sMkH3n8b/2mf2Ufg3O3i7XfgJ4a8VeJfh7p2iTfFbxvqmnafo1ta6peQW1otlrmp6toplgilNlpsKyA2ssuIoimVKt85PH1alSNLKKlBTUb3U3JRei5WoRm0k3a7lfXVtvX9Bx2R4DLoVHmmGxKg04x5qSV5W92acnFtS958qtays3dqH4jeD7X4k+J9M+KXhqz162+DviDw9ruo6NHdeMrSLS7vVNWgnNhJJperaHrDRXuiwSWs0aW7acLa6lEsc9xKwBjh8S/An9rrx54b8R6z4j8afCf9nzxNfWcj6Paaq+k6vbXt4luLZLuW3ns7y0S1vjCk7LZXUTWiOVMcrsob7Mt/wDgrJ/wSQj1Lxn4oH7DH/BOK/1aeZbvXNSN/aaooWeeGBp7w23huQQJJLLbq7jCmR1ZyT81fPPwN/ay/Y68QftPav4Wmvf+CYngz4daxHf+I7a1+F/jzXfhhq+i2RtxcCTUNO1oDwnqzsrWWcSWssq+bcxwKsToPqMJLFUabnUqR51d35ZNWXZckm+mii23t2Pz7M6mGr4qSwVOpGi2klN8r2XxybUdHez5klHV2Ply0+F37Q/h74e3/huw+Bn7O/x98ZTDU5r8w3R8OaxpNyEsXsLyC7R7KZoonvNRjVFSOKRIJG2O0EkTfA/xTb9oX4HXGuap8QPhL8fdJ+HlrPFO+p+MvAM19a6rA88iPcHUo72dV+UowMrRoGUjCnAT9aP+ChHxn+FXgb4eaT4p/YO/au+A9xaW0uqa140ttV/aQ+HFzaaRp9jZLera6bp2mo2oahqOost3ZwxRLcnzAAUCurJ/OL4q+Ovh7VPH+v8AjPxHr/iX4peIdaluY9S8T6v4GFlf2llchwsNpZXGpXkYiKh4kto4kWJgjJlkYt9DwxnOY1YOrTvyN3tyyi279pJcr6L3VJrboz5niPI6FKaoTipSj1U4TSX+ODkpeaTet9Vqemap468P2t3rEfhf4k/s4eLPDUmoW+lmCHW9Z06+8PahKs8hilu9XsIIkhIgaDzlma3iDlzI3Ua3ja18QeH/AIbaP408ZfB/xlb+E9av2i0y9stZsJLFZEgjugbW/gje0aYJKksib0mTcPlMisB9n/Cz4oeFPhz8TNZb4s+NrTXviTb2lrpUN/4R8Kvd65YRWlxb2d9ZSadpXlW1k4ms3h8sMgmkto5HBhE1fRPgn47at4kuLXwt8OL7SPhR45tvFWj6n8QNS8OeE9M8QQanNfXrWxsnnvZJJLa2xbwXUiIWkDW9vHujNwkkXdW8Z83w9VOk5SjeLvJytrbZ8trXstI7tJ8q1PHjwFldWP7xKL1VlH9Ob/25W87WPw6tPiNoj2qyySa8rPPcv5Z1O0mEebiX7skdtIHDff3ZGd+QCMMxX9Ell4T1bVFaezP7NMUCQ2kIn1Lw5eW8l4VtIQZEhstBvfLjH+rWOaXzU8vbt8sRMxXTQ+kNmc4KSmkn/eor8JQ5vv17mEvCjLE+vyU//lh+I/xJ8Q/Ffwvqnxj8Vat4aX/hOvDfjfXrm3lm1CTUbB7rGq2gjnaG/XTZr+C1dIAdPinmCxWbq5TNe9+OfEWp+G9U+H154tvfAd/v8OWHiKXw348s0uvBniqe11nUn0y5nVrN4pbK5S0trr+y2ZJLqOS2QSBBMzfN/wARv2ntTHjWO2k1/wCKF4sFunh+VoLmw+x6XqmnLbm2urWJNtmmoQTwyqlwlmhgiu5Ms8rNInsHj/45eIJdW+ANl4hTwZ400O/+HngW+vfDms+GLy509lltdP12SxvoodTgP9lyS3JKxQN5scMEMw+zBY1PzeDyydWvShOC1u1r093TXbq/s72TW59dXpxhF2tpb/h/v6duux/WZ+zl4b+N/wAdvC37FHxD1T9p/wAE/Bfw/wCOvh58M9Yi8H/D/wDZ78C2dpoOn6hp0S/2XZXup2+ozfY4AgtYR5KiJI1UAhQtfJnwb8ff8FS/G3xM8MaH8WvjF/wUl+HP7OjfCKz8V6xrej/DTw74G0y18UyaVqU02mSa7aaDaDZHcwaTDCAruXmZJBH5m1f2u/4JsfDfRfj7+xB+xr8bNE8J/Bz4ZeDdR+HGiL4b8Kw6brusv4S0aAyCwsF1G/1jNzJbRqqfaGgDFlJHy7QP0Ov/AIBeE9NgtPEet+NvEDy6RaTtFcSadokUenwnDSGJ5bOV4ySg+cybx0DjJz8JHh7POevVVaMIzcnFp2cU3dNrl3S/vb9ep+nPivInSw1OdGc5U1BTUkuWTiveUfe0UnprGyX2WvdP57Piv+y7+1R8ZPB3wi139nO5/wCChvx+8Eq3juLxh/Zn7S2sRyS6uNb0ddNikF94m0qErHZQ6z5f2fNupkwU3FSOs/Z8/wCCUv7aGt/CD4yeD/iF4fl+FF1rfxI1HWfDX/CwviFc+PL3TfDts9hJo0V3bXdzqtmLiF0vypSaTy2IfLMwK/0At4G+G7XWjeD9Y8W/ES81+5iM0VmvjLVlXyjGJCZIrGWGCOM7W2l1AbawXPIr+TP/AILPar8EdQ+Jv/BR74LQW2i2HxF8OfAXwFY/D7TWvrue8n166bxVq1z9gtpLlvNvpVi0xTIsEsjRoqF0+UM8TwZKeDSxNepVklBO09JNNauMlJJ31fxO9+55uL4kwuYV5YRYalSoVJVGlyWajK7UXUhKnJqO0dYpJLR2s/tv4y/8EcvDHjj9oDwh8Qdd+Nfg34GeE9J0/wAe3V9Y6Z46h1G2tdQ1lrCJnY6jp25P3UUh8uQyK0lkjnh3jrnPGH7FX7GnxE8afEv9nzSv+CoPw++IHx18ev4Y02bwZe2cHjwwr4e+watHZw+HbeaMQGWy0GR7ldiyzRzSyZVBGg/o/ufE3wc8CxDW7bxH8Lfh5p+p2/n211cXNjpomR0E/mfNsfOJNxzzg5PXJ/l58FXHxP0n/gqH4a/aU+OvxH+F1j4H8NftE/EXxnaSJ4y8O6pca14SvPDd94d0YaTbWepz6pPMbcaeXs3s08vypyGDII28yvwVk2B9iptS5Wl71Rx5YqTq3tGUU/fXM01q3dvSz6cNx3j6051Iv2TUZNcseZyk4uCXv871UrXvdWVrWTXyz/wU9/Ze/Zx/ZNj8Bav4r+MGhXB8Y6d5V94L1v4Va14O07WLjSLqzt7TU9KhsdMdbaWFPEGopeXd1eRoUu7bhuQ34r65+zb8EviZqem6l8PJf7Ukn0m70mTR/FelyWD3Us14LK8+x6pcRmaCQT7bba1usiLK8i9Wdv3T/wCDgP4xWPx0uPgp8YfDmn/FD4V+E/g54Y8URS6hr2jnS9R1fV9Yl0WQabJoeqWYM9k8NnCj3tvcBoTcSPKI4oGkb+f/AMNeMP8AhXPhr4X600viLRPCvhaXU4dT1uy0iF/tNrc+ItUvWMunQlUaV/sUvyglbZAxEkPmZPq4epTpUf8AhHn7l0lbVaQtZX5n0itHze9tqm/lczxWKxWLliMxfNVnq2/ib0V+i2WltNDE/ag+J1hZ/GjxXbeFNJ1m98WWNv4htHuLCWeKxvN+nW1za3QjWLyGSB9Q1J0ZIwQ1sJHKoimX6E+Cfxq8P3/ivQdN0OTSIIYrZ9ReCCyVLa4Nl9qUTTyXB+0MIZIdRmZm3HYoQsPMVT80+I/Bmo6X4o8TeEtfXS9Yht/GniLT/E9zrF3INM8rQhNbC5lncoEtZ5ZIYJpVby8WuzLM/lj6g8E6PoMfj7wN4ltfE914y1SKW+jhtdEtX0+00W0mEjPYRRQLLM7Q3Ed6BJuumhiZnklhOwLlmtbDrA06Su2oNJ33cdU/nK9rtdWr7HPRoS5277v+vuXU+6dZ8GWWsQaJPZeJZrOyS2eOGY6gX/tBDcTMLgFREdjb8IHXcI1QZIC0V514N1HUTY39h4g+Kes+GfE9lcLa6npmnRW8UWnXHkxt5P7+NpHwjx7XZixQpuO4MAV+TSnGD5XJfc/8j17X1UUfzdW3w9+Jf7ROveNPEvwe+Gk7WU1rfHRf7I0qe30i0srJltIIlvpsxxCOHyJHmvZ98jFmkkeWVN/19+1zff2D4v8AhveaVLPcav4J8OfC0B0lWW2ik1T4WeDhpcOxWyxgg0DXPOY7kk8pIm3CY5/oH/Yb/wCCfH7Zfwc/Zw8da74d/aL+CnxM/Z1+FniTUPiH4Y17W38Qadouo/Y43tZbK6WSwW+mleG3gRPJZUtylwqJcJcW8z4vw0/YI+Dv7Q3xC+A3gf43fBfwj8QNavtKtZvHWmeErd7Gwk0HQfDdjpsIi1R/I1KGRrq10GCwdJlm8ya8+0maKS7V/wB6/wBc5UsyUZxtCN1BxveS768r2VrW+LXmsrnmUcqjUw6qRqKTekotO8WrNPms4yi01az5k1NSgoqEqlD/AIJ3/wDBaD9ob4Jfs7/AP4QQ/DKXwJ+zl8K/hlH4ckgntI9T8RfEK/lsyrapZzG3lMENnfTRG3shbPvhd1ndmwqfsD8Uf+Con7TniLxl4y8MaB43+Cngnw7NdiC38LJ4QYakmm3CyQCJtTlubuK5v1LQT5+x28UROyVHUZP5Q23gn/gnr8IPGvjzwd+z78G4v2ZfFMHhmWfRtdg8Oa3rGlPGkFxHbXk8d1dmTV5kkvidkvnNuVsqyxIa4/Q7j4ifFC+tfiVqFlolsreFZNAlnsZLyJ5Z478CPUU8xEtllu7Z5lVGVjH8h3N5UZPwvEOf16lWboOUKcnpq0mtLWV9E7PZteS674bBRg/3iUpeibXe/nfy/wCB+0nw7/aA+O2oeHvB1h8TP2g/ilZfEy1sriPVL/wxqCCTVphO+ya7RbOSJlRHeNVMmzMY8tQciuT8cfEHxnptj4lt9Q+P37TFxPaRM7rdePNUkQEAP5sqNdQwSbVUMQzRxlc427SB8sfD/X9a07wlY634e8N+CrHw9ql6L6TUb/V5RdXkG5y0czyTYMaIJnEz4VVJbGGrxzw/+2BH4q+Ifh74S+FbWy8TfEWP+29U1iG68O3mjuNN0ayv57690aCWZLHV2WTT2cPZXsivCZZFVzshr46McbiVKFLnqKMXJpc0rRinJt9kkm7vsfVYTAUJpOcVd6Xe1/n+eiW56fJ8OLr4t6la2sPhXVvit4f1KC6gv9M+H/j5m0u+SVyZJNe0W9e8uPtKrOAEinaMMIvlDouP5zP21fgR+wF8FvGOpeEofin8S/CPxCgkdfEXgKPwVofiOPwkGaOeQSXbXFvdQjEjyeQsksjHduEeFVv17/bF/Zf/AGMf2svD/iC4+KPwp8PeEvjXOtnb6b8UNF0E6dq9pdz+Wtvc3tq7wWuvwGfZBKZvMkSNgiXC4Qj+ZX4tfs7eIPhRe6/oHg/xz8H/AI0eG9Pu5rb7Z4G1+1uZYGSQxs1/oTSJqOnBW2RlpIWj8xggkORn7rw1wuHqV2vrcqclvT5Uk3096TlB9dHFTve2l78meU+WF3RTj0ktfwSTX3terOTGsp8HhrvibwT4X0bwJ4wspLttXh0vxBPaJcRJKQLa8sre7cLGytFFJZySEhpXX5gcJ+gK33xx8S+DvBHw18IPPHHZwa1BpGmW0USWt9rlvrEVjb3NxJLFmFVGoatIZfPdo9xbKNIFk/MvxMmj+HvDutXvgrxPrFnp11odv50V3HBDdWn2iMxXNp5kJEMyneDkKpMdzGGRW5r6t1T9oLx3p/8AwtLS9Av9Z1Hwh/bOoXdxZRXEt1pojn8RxYsL1XzbxJKDeCO4Ueb5sCugEnzn9cz/ACqpWjSlRjGUr7yv6Wd9rc2mundHw2HqRTanJq/b+tP63Ot8Z+JdW8f678VNd0rUNuteI72+jHh9bu3hMx1e1lktoxaRkB4p768sIZ/OP7yaFAXIMhr6b+EviltJ+I+gQ+PbSF9Cs9KttTtr7USfscUdvps9rLbWb+cgWKS4NsHgjQjc77ixfC+Mat4lsPG37QGqeHL/AFPxJ4l8Vw+M9V0GzmsLezS4l+0XdxYwEhTEkkiQRv5kssEheK1gcbWAI9Au9C8UjVfBXiGbwLoN58OLzVbvTYdE02PzXXSRDPqOpNeySSw+VDbtaTXBnVY44cMcM23b8HmfI6UcPVtBuL6pWur6N2bfut6pJpO9ra+vClP4km/+A169/wCtDovEnh/4p2vi3xpZfD+x8T65ocOs3oafR7p7CMyNM0hEsLeURKFkTdlFK8Kw3KxJV34i+KtZ8IeN9d0DTo/iv40WFLLz5UurqNrWc2cHmRyFGlV2ZszghsBZ1UcICSuPCSxEqUZQhFppata/+lL8jklRV2L+wv8AtHfGaG88H+BD41u4fBXirStetNd0bT4ItK02/tfD/wDZV7pMElhYLBbP5E1kAJnjacx3F1EZTHcSI37T6vHD8KP2OfGXxP8AAtvaaN48+Nuv6f4R8WaoIEe5stMt7DToo4rGUjepA1zVG3TmYhpxjAjiCFFTn1GFPNKsaaSUVK1tLe+9ux0ZZu10PxMvfiZ4/wDiX+yn8Ete8U+Kr688V6lDpv23VniiluJBcb0IRZUeKIJDKYEEaLiNEzllD193aB4rvvht4a+Ld/4cghkufB11Hc6W15NPcCdwkcR+0hpMSk+cZC3D70T5gAVJRXncU0YQtCCSXPUVltZTikvktPQ0wrb1fkL48/aF+JWhaNd3VnqYnvV8VWWgRT3Us9w0UEsVw5kHmSMGkUxYXcGTDuCpzx8Bp4rt9Pjh+OY8CfCyT4h3eqaDZ6pPD4Zs7O31mRg2nT3d1bWscUTXU8cRmkmVVb7RNcTJseeUuUV5GRzdPD1HTdnK0XbS8W0nF9002mno07M9epUlLWTvbbyPGfi54r8WWutaV4S8N+KvEXg3wlqYGnanpmm3bi2v7cwQZjkWUv8AIPKiKxghEMalFXnPwx4++K3jH4m3V3ceNryDxBPb3s0cD3SGZ7cL+7HlM5YxfLDDxGVGUU4zRRX7jwnhaXsYVOVc3K3eyvd6N39DwMZJ8zV+v+X+bOq0Xx/4m8MeFtT07SLu2W2SM6mEuLeO4iecxRwBpIJQ0U21FUL5iNjHuc+vfFtJ/GHj+01rUruW11eZhbfaLWOONrXYBOJLQbSLN968G2EQUM20LnNFFd0sPTWNjJRV/f6f4Tj3ptPs/wAj3vwd8LvDGu/tYfH/AMPTSazptjc+GNe8ULJp949pNbXC+IZmEMcsW1jB+5UFXLFgW3M24mux+Mmo6/oHiS613/hJ9f8AEFnpLa5rOnaRrMw1DTrSZtOEEipBOGwjx3LBud2VVwyuWZiivzyulUxcY1NUqKeuu+j+9aPy0Pcpq1rd/wDI9N8X+Po77WZZNT8FeDtXljBgje9W5uGiiRmVI0MkxKoqgAKMAfUkkoor85y+pL2Mdehnj3aq0v60P//Z",
                    "height": 100,
                    "width": 100
                }
            }
        }


# Group LoginKnownUser

Login first step if user selected to remember him in a previous access

Form parameters: -

_eventId: validateUser

## Access [/pages/login/knownUser.json]
### Known User [GET]
+ Response 200 (application/json)

        {
            "alerts": null,
            "pageContent": {
                "nickname": "Marcos Manuel",
                "lastSignonDate": "Wednesday 03/12/2014"
            }
        }


# Group LoginTermsAndConditions

Login last step (optional, if user didn't accept the lastest T&C) with Terms and Conditions acceptance.

Form parameters:
<ul>
    <li>acceptTerms</li>
</ul>
    
_eventId: validateTerms

## Access [/pages/login/termsAndConditions.json]
### Terms and conditions [GET]
+ Response 200 (application/json)

        {
            "alerts": null
        }


# Group Nickname Account

User's nickname recovery first step

Form parameters:
<ul>
    <li>accountNumber</li>
    <li>email</li>
</ul>
    
_eventId: validateAccount

## First access [/pages/login/nicknameAccount.json]
### Challenge [GET]
+ Response 200 (application/json)

        {
            "alerts": null,
            "pageContent": {
            }
        }

# Group Recovery Challenge

User's nickname recovery second step

Form parameters:
<ul>
    <li>securityAnswer</li>
</ul>
    
_eventId: validateQuestion

## First access [/pages/login/recoveryChallenge.json]
### Challenge [GET]
+ Response 200 (application/json)

        {
            "header": {
                "title": "Forgot username"
            },
            "alerts": null,
            "pageContent": {
                "securityQuestion": "What was the name of your first pet?"
            }
        }

## Wrong answer [/pages/login/recoveryChallenge.json?mockId=2]
### Wrong answer [GET]
+ Response 200 (application/json)

        {
            "header": {
                "title": "Forgot username"
            },
            "alerts": [
                {
                    "type": "ERROR",
                    "alert": [
                        {
                            "text": "Wrong answer. Verify it and try again.",
                            "field": ""
                        }
                    ]
                }
            ],
            "pageContent": {
                "securityQuestion": "What was the name of your first pet?"
            }
        }

# Group Password Account

User's password recovery first step

Form parameters:
<ul>
    <li>accountNumber</li>
</ul>
    
_eventId: validateAccount

## First access [/pages/login/passwordAccount.json]
### Challenge [GET]
+ Response 200 (application/json)

        {
            "alerts": null,
            "pageContent": {
            }
        }


# Group Change Password

Change the user's password

Form parameters:
<ul>
   <li>currentPassword</li>
   <li>newPassword</li>
   <li>confirmPassword</li>
</ul>

    
_eventId: confirmsChangePassword

## First access [/pages/login/changePassword.json]
### Challenge [GET]
+ Response 200 (application/json)

        {
            "alerts": [
                {
                    "type": "WARN",
                    "alert": [
                        {
                            "text": "You must change your password in order to continue. To change your password, enter your current password, and then enter and confirm your new password.",
                            "field": ""
                        }
                    ]
                }
            ],
            "pageContent": {
            }
        }

# Group Enrollment

Shows the enrollment form

Form parameters:
<ul>
   <li>accountNumber</li>
   <li>pin</li>
   <li>username</li>
   <li>password</li>
   <li>passwordConfirm</li>
   <li>email</li>
   <li>emailConfirm</li>
</ul>

    
_eventId: activateUser

## Correct answer [/pages/login/enrollment.json]
### Activate [GET]
+ Response 200 (application/json)

        {
            "alerts": null, 
            "pageContent": null,
            "flowExecutionUrl": "/api/login/activateUser.json?mockId=2&_eventId=activateUser"
        }

# Group User activation

Activate the user for enrollment

Form parameters:
<ul>
   <li>accountNumber</li>
   <li>pin</li>
   <li>username</li>
   <li>password</li>
   <li>passwordConfirm</li>
   <li>email</li>
   <li>emailConfirm</li>
</ul>
    
_eventId: enroll

## Correct answer [/api/login/activateUser.json]
### Activate [GET]
+ Response 200 (application/json)

        {
            "alerts": [
                {
                    "type": "INFO",
                    "alert": [
                        {
                            "text": "Nickname activate",
                            "field": "username"
                        }
                    ]
                }
            ],
            "status": "OK",
            "flowExecutionUrl": "/accounts.html?execution=1",
            "pageContent": {
                "challengeQuestions":[
                   {
                      "questionId":"Q1.14",
                      "questionText":"What was the name of your junior high school?"
                   },
                   {
                      "questionId":"Q1.17",
                      "questionText":"What was your first car?"
                   },
                   {
                      "questionId":"Q1.24",
                      "questionText":"What town did you meet your spouse in for the first time?"
                   },
                   {
                      "questionId":"Q1.21",
                      "questionText":"What town did your maternal grandmother live in?"
                   },
                   {
                      "questionId":"Q1.22",
                      "questionText":"What is the middle name of your best friend?"
                   },
                   {
                      "questionId":"Q1.19",
                      "questionText":"What was the name of your elementary school?"
                   },
                   {
                      "questionId":"Q1.16",
                      "questionText":"What was the first name of your first manager?"
                   },
                   {
                      "questionId":"Q1.15",
                      "questionText":"What was the name of the first company you worked for?"
                   },
                   {
                      "questionId":"Q1.20",
                      "questionText":"What was your childhood nickname?"
                   },
                   {
                      "questionId":"Q1.18",
                      "questionText":"What was the year and make of your first car?"
                   },
                   {
                      "questionId":"Q1.13",
                      "questionText":"What was the name of your first pet?"
                   },
                   {
                      "questionId":"Q1.23",
                      "questionText":"What is the first name of your first college roommate?"
                   }
                ]
            }
        }

## Wrong pin [/api/login/activateUser.json?mockId=2]
### Error [GET]
+ Response 200 (application/json)

        {
            "alerts": [
                {
                    "type": "ERROR",
                    "alert": [
                        {
                            "text": "Wrong Pin",
                            "field": "pin"
                        }
                    ]
                }
            ],
            "flowExecutionUrl": "/api/login/activateUser.json?execution=1",
            "status": "ERROR",
            "pageContent": null
        }
        
# Group Enroll user

Enrolls the user in online banking

Form parameters:
<ul>
   <li>username</li>
   <li>password</li>
   <li>passwordConfirm</li>
   <li>email</li>
   <li>emailConfirm</li>
   <li>questionId (list)</li>
   <li>answerText (list)</li>
   <li>securityPhrase</li>
   <li>securityImage</li>
</ul>

_eventId: signIn

## Correct answer [/api/login/enroll.json]
### Enroll [GET]
+ Response 200 (application/json)

        {
            "alerts": null,
            "status": "OK",
            "flowExecutionUrl": "/login/termsAndConditions.html?execution=1",
            "pageContent": null
        }
